#aboutjumbotron {
	margin-top: 80px;

	background-image: url(../img/CharterBanner.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	
	margin-top:0px;
	margin-bottom:0px;
	padding-top: 40px;
	padding-bottom: 80px;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	height:100px;
}

.carousel-caption{
	background:rgba(0,0,0,0.30);
	width:70%;
	padding:30px;
	position: center;
	/*margin-left: 30px;*/
	/*margin-right: 30px;*/
}

body {
	/*background:#71080a;*/
}